@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* * {
  margin: 0;
  padding: 0;
} */

/* Shared Fonts */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared Styles */
.bg-color {
  background-color: #ffffff;
}
.nav-container,
.hero-container,
.our-plants,
.plants-lover-container,
.card-deals {
  max-width: 1140px;
  margin: 0 auto;
}
/* Navigation Styles */

.nav-links {
  list-style: none;
}
.nav-items {
  text-decoration: none;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  gap: 48px;
}
#home,
#cart {
  font-size: 1rem;
  font-weight: 400;
  color: #252432;
}
#shop,
#about-us {
  font-size: 1rem;
  font-weight: 400;
  color: #8987a1;
}
/* Hero Styles */
.hero {
  margin-top: 163px;
  width: 570px;
}
.hero-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 120px;
}
.hero-title {
  font-weight: bold;
  font-size: 4.0625rem;
  margin: 0 auto;
}
#fresh-flowers {
  color: #e95a08;
}
.hero-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  margin: 0 auto;
  margin-top: 13px;
}
.hero-img {
  margin-top: 106px;
  width: 570px;
  height: 355px;
}
.hero-img img {
  width: 100%;
}
/* Our Plants Styles */
.our-plants {
}
.our-plants-container {
  text-align: center;
  margin-top: 200px;
  gap: 16px;
}
.our-plants-title {
  margin: 0 auto;
  font-size: 3.125rem;
  font-weight: bold;
}
#our {
  color: #e95a08;
}
.our-plants-description {
  margin: 0 auto;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
.card-title {
  font-size: 1.375rem;
  font-weight: 500;
  margin: 0 auto;
}
.price {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 0 auto;
}
.btn-buy {
  font-size: 1rem;
  font-weight: 600;
  background-color: #e95a08;
  border: none;
  padding: 26px 50px;
  color: #ffffff;
  margin-top: 30px;
}
.plants-card {
  width: 270px;
  height: 484px;
  padding-top: 40px;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/* Plants lover styles */
.plants-lover-container {
  display: flex;
  padding-top: 210px;
  position: relative;
}
.badge {
  width: 286px;
  height: 286px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -110%);
}
.badge img {
  width: 100%;
}
.plants-lover-img {
  width: 540px;
  height: 597px;
}
.plants-lover-img img {
  width: 100%;
  height: 100%;
}
.plants-lover-title {
  width: 540px;
  height: 521;
  padding-left: 60px;
}
.plants-lover-title h2 {
  font-size: 3.125rem;
  font-weight: bold;
}
.plants-lover-title ul li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
}
/* Latest deal styles */
.latest-deal-container {
  max-width: 1440px;
  margin: 0 auto;
}
.deals-title {
  font-size: 3.125rem;
  font-weight: bold;
}
#latest {
  color: #e95a08;
}
.deals-description {
  margin-top: 16px;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
.deals {
  align-items: center;
  text-align: center;
}
.deals h3 {
  margin: 133px auto 16px;
}
.card-deals {
  display: flex;
}
.card-deals-left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 367px;
  height: 423px;
  margin: 0 auto;
  gap: 25px;
}
.bloom {
  position: relative;
  width: 367px;
  height: 200px;
  overflow: hidden;
}
.bloom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 14px;
}
.bloom .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 14px;
}
.bloom .text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.bloom .text h4 {
  font-weight: bold;
  font-size: 1.25rem;
  width: 270px;
}
.bloom .text a {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
}
.ana {
  position: relative;
  width: 367px;
  height: 200px;
  overflow: hidden;
}
.ana img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 14px;
}
.ana .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 14px;
}
.ana .text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.ana .text a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}
.ana .text h4 {
  font-weight: bold;
  font-size: 1.25rem;
  width: 270px;
}
.zabo {
  position: relative;
  overflow: hidden;
  width: 753px;
  height: 423px;
}
.zabo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 22px;
}
.zabo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 22px;
}
.zabo .text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.zabo .text h3 {
  width: 498px;
  font-size: 2.5rem;
  font-weight: bold;
}
.zabo .text a {
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 600;
}
/* Colorful bunch styles */
.colorful-bunch-container {
  max-width: 1440px;
  max-height: 533px;
  padding-top: 100px;
  margin: 0 auto;
}
.colorful-bunch {
  position: relative;
  overflow: hidden;
}
.colorful-bunch img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.colorful-bunch .text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.colorful-bunch .text h3 {
  font-size: 3.125rem;
  font-weight: bold;
  color: #ffffff;
}
.colorful-bunch-container input {
  width: 644px;
  height: 50px;
  border: none;
  padding: 0 auto;
}
.colorful-bunch-container button {
  width: 186px;
  height: 50px;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
}
.colorful-bunch .text .text-field {
  display: flex;
}
/* Footer styles */

.footer-container {
  display: flex;
  padding-top: 50px;
  max-width: 1440px;
  margin: 0 auto;
}
.footer-description {
  color: rgba(0, 0, 0, 0.5);
}
.left-side {
  margin-left: 160px;
  width: 359px;
  height: 179px;
}
.middle ul {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
}
.middle li {
  list-style: none;
  row-gap: 50px;
  column-gap: 50px;
}
.middle a {
  text-decoration: none;
  color: #6b7280;
  font-size: 1rem;
}
.right-side {
  padding-right: 160px;
  padding-left: 50px;
}
/* Responsive Media query */
@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  .navigation img {
    width: 63px;
    height: 38px;
  }
  .hero-container {
    flex-direction: column;
    margin-top: 28px;
    margin-bottom: 120px;
  }
  .hero-img {
    max-width: 393px;
    height: 245px;
    margin: 0 auto;
  }
  .hero-img img {
    width: 100%;
  }
  .hero {
    margin: 28px 16px 0px 28px;
    max-width: 361px;
    height: 147px;
  }
  .hero-title {
    font-size: 1.5rem;
  }
  .hero-description {
    font-size: 0.875rem;
  }
  .our-plants-container {
    margin-top: 68px;
  }
  .our-plants-title {
    font-size: 1.5rem;
  }
  .our-plants-description {
    font-size: 0.875rem;
    text-align: center;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-bottom: 28px;
    padding-right: 20px;
  }
  .plants-card {
    width: 171px;
    height: 340px;
    padding: 0;
  }
  .cards img {
    width: 100%;
    height: 196px;
  }
  .cards button {
    margin: 0 auto;
    padding: 26px 50px;
  }
  .plants-lover-container {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 41px;
  }
  .plants-lover-img {
    width: 358px;
    height: 396px;
  }
  .plants-lover-img img {
    width: 100%;
    height: 100%;
  }
  .plants-lover-title {
    padding-left: 16px;
    width: 361px;
    height: 234px;
  }
  .plants-lover-title ul {
    padding-left: 16px;
  }
  .latest-deal-container {
    margin: 243px auto;
    width: 393px;
    height: 117px;
    padding-top: 143px;
  }
  .latest-deal-container .deals h3 {
    font-size: 1.5rem;
  }
  .latest-deal-container .deals p {
    font-size: 0.875rem;
  }
  .card-deals {
    flex-direction: column;
  }
  .zabo {
    margin-left: 10px;
    margin-top: 10px;
    width: 370px;
    height: 172px;
  }
  .zabo .text h3 {
    font-size: 1.25rem;
  }
  .zabo .text a {
    font-size: 1rem;
  }
  .colorful-bunch-container {
    position: relative;
  }
  .colorful-bunch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    width: 393px;
    height: 276px;
    margin: 0 auto;
  }
  .colorful-bunch .text h3 {
    font-size: 1.25rem;
  }
  .colorful-bunch .text .text-field {
    width: 321px;
  }

  .footer-container {
    max-width: 393px;
    flex-direction: column;
    margin: 750px 0px;
  }
  .left-side {
    margin: 0 auto;
  }
  .middle ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
